name: Renovate
on:
  push:
    branches:
      - dylan/update-renovate-commands

  schedule:
    - cron: "0 3 * * *"

  workflow_dispatch:
    inputs:
      dryRun:
        type: boolean
        required: false
        default: false
        description: Dry run (don't create PRs)

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@e23f4d9675532445118c886434f5a34292b630b4 # v46.0.2
        with:
          configurationFile: renovate-config.js
          token: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_DRY_RUN: ${{ inputs.dryRun && 'full' || null }}
