name: Renovate
on:
  schedule:
    - cron: "0 3 * * *"

  workflow_dispatch:
    inputs:
      dryRun:
        type: boolean
        required: false
        default: false
        description: Dry run (don't create PRs)

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@d65ef9e20512193cc070238b49c3873a361cd50c # v46.1.1
        with:
          configurationFile: renovate-config.js
          token: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_DRY_RUN: ${{ inputs.dryRun && 'full' || null }}
